.landingContainer {
    min-height: 100vh;
}

.landingContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 100vh;
    position: relative;
    padding: 0 10%;
}

.landingLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    font-size: 16px;
    animation: slideFromLeft 1.5s forwards;
}

.text {
    box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.3);
    border: solid 2px rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 30px;
    background: rgba(10, 10, 10, 0.7);
}

.text img, .text p {
    margin-bottom: 10px;
}

.text span {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(2%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    color: rgb(201, 201, 201);
}

.links span {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border: solid 2px rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 10px;
    background: rgba(10, 10, 10, 0.5);
    transition: .3s ease;
    cursor: pointer;
}

.links span:hover {
    transform: scale(1.05);
}

.links span:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links span:nth-child(2) img {
    width: 20px;
    height: 20px;
}

.links span i {
    font-size: 15px;
}

.landingLeft p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.landingLeft a {
    color: white;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    text-decoration: none;
    width: fit-content;
    padding: 7px 30px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.landingLeft i {
    transition: 0.3s;
}

.landingLeft a i {
    font-size: 25px;
}

.landingLeft a:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px #8199f0;
}

.landingLeft a:hover i {
    color: #a7b9fb;
}

.landingLeft img {
    width: 100%;
    max-width: 600px;
}

.landingRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingRight img {
    width: 100%;
    max-width: 350px;
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .landingContent {
        grid-template-columns: 1fr;
        padding: 0 5%;
    }

    .landingLeft, .landingRight {
        padding: 20px;
    }

    .landingLeft {
        font-size: 14px;
    }

    .landingLeft a {
        padding: 7px 20px;
        font-size: 14px;
    }

    .links {
        gap: 10px;
        font-size: 14px;
    }

    .links span {
        padding: 7px;
    }

    .links span i {
        font-size: 13px;
    }
    .landingRight {
        display: none;
    }
}

@media (max-width: 480px) {
    .landingLeft img, .landingRight img {
        max-width: 100%;
    }

    .landingLeft {
        font-size: 12px;
        padding: 15px;
    }

    .landingLeft a {
        padding: 5px 15px;
        font-size: 12px;
    }

    .links {
        gap: 5px;
        font-size: 12px;
    }

    .links span {
        padding: 5px;
    }

    .links span i {
        font-size: 11px;
    }
}
