
.container {
    color: rgb(170, 170, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.container i {
    font-size: 4rem;
    margin-bottom: .5rem;
    color: var(--pink);
}

.container h1 {
    margin-bottom: .4rem;
}

.container p {
    margin-bottom: .4rem;
}

.container a {
    color: rgb(170, 170, 170);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    transition: .3s;
}

.container a:hover {
    color: white;
}