.cardContainer {
    color: white;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

@media (max-width: 480px) {
    .cardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }