.viewport {
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewport a {
    transition: 0.3s ease;
    cursor: pointer;
    color: darkred;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.viewport a:hover {
    transform: scale(1.1);
}