.marketContainer {
    min-height: 100vh;
}

.wrapper {
    margin: 0 10%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.marketCard {
    border: solid 2px red;
    height: 500px;
}
