@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: rgb(15, 15, 15);
  --font-main: white;
  --font-secondary: rgb(170, 170, 170);
  --blue: rgb(21, 177, 209);
  --pink: rgb(189, 27, 194);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

body {
  background-color: var(--bg-color);
}

body::-webkit-scrollbar {
  display: none;
}

.viewContainer {
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.contentContainer {
  border-top: solid 1px var(--blue);
  min-height: 100vh;
  margin: 20px 100px;
  padding: 20px 0px;
  color: var(--font-main);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.contentContainer h2 {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.contentContainer i {
  font-size: 25px;
}

.sectionTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionTitleContainer a {
  color: var(--font-secondary);
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 15px;
  transition: 0.3s;
  font-style: italic;
}

.sectionTitleContainer i {
  font-size: 23px;
}

.sectionTitle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sectionTitle a {
  border: solid 2px var(--font-secondary);
  border-radius: .5rem;
  padding: 4px;
  transition: 0.3s;
}

.sectionTitleContainer a:hover {
  color: var(--font-main);
}

@media (max-width: 650px) {
  .contentContainer {
    margin: 10px;
  }
}