
.footer {
    width: 100%;
    padding: 40px 10%;
    margin-top: auto;
    border-top: solid 1px rgb(30, 30, 30);
    background-color: rgba(12, 12, 12, 0.5);
}

.footerContent {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    padding-bottom: 70px;
    margin-bottom: 10px;
}

.footerItem {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 10px;
}

.footerItem a:hover {
    color: white;
    transform: translateX(1);
}

.footerItem a {
    font-size: 17px;
    color: white;
    text-decoration: none;
}

.footerItem:nth-child(2) span {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerItem:nth-child(2) a {
    font-size: 17px;
    color: var(--font-secondary);
    text-decoration: none;
    transition: .3s;
    width: fit-content;
}

.footerItem:nth-child(2) a:hover {
    color: white;
    transform: translateX(10%);
}

.footerItem p {
    color: var(--font-secondary);
    font-size: 16px;
}

.footerItem p:last-of-type {
    color: rgb(125, 125, 125);
    font-size: 15px;
    font-style: italic;
}

.socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.socials a {
    font-size: 25px;
    color: var(--font-secondary);
    transition: .3s;
}

.socials a:hover {
    color: white;
}

.bottomFooter {
    color: var(--font-secondary);
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomFooter a {
    color: var(--font-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    transition: .3s;
}

.bottomFooter span {
    border-radius: .5rem;
    width: fit-content;
    cursor: pointer;
}

.bottomFooter span i {
    color: #10b981;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #1a4a3d;
    margin-right: 5px;
}

.bottomFooter span:last-of-type {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottomFooter span a:hover {
    color: white;
}

@media (max-width: 1140px) {
    .footer {
        height: fit-content;
        max-width: fit-content;
    }
    .footerContent {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    .footerItem p:last-of-type {
        margin-bottom: 10px;
    }
    .bottomFooter {
        flex-direction: column;
        justify-content: normal;
        text-align: center;
        gap: 10px;
    }
    .footerItem:nth-child(2) span, a {
        text-align: center;
        align-items: center;
    }
    .socials {
        justify-content: center;
    }
}