.footer {
    position: relative;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    border-top: solid 1px rgba(255, 0, 0, 0.5);
    padding: 40px;
    background-color: rgb(10, 10, 10);
}

.kelvinPeaking {
    position: absolute;
    width: 140px;
    top: -105px;
    left: 50%;
    transform: translate(-50%, 0) translateY(20px);
    opacity: 0;
    animation: fadeInSlideUp 1s forwards;
    cursor: pointer;
}

.showKelvin {
    opacity: 1;
    transform: translate(-50%, 0) translateY(0);
}

@keyframes fadeInSlideUp {
    from {
      opacity: 0;
      transform: translate(-50%, 0) translateY(20px);
    }
    to {
      opacity: 1;
      transform: translate(-50%, 0) translateY(0);
    }
}

.footerItem {
    color: rgb(201, 201, 201);
}

.footerItem h2 {
    color: white;
    text-decoration: underline;
    margin-bottom: 5px;
    font-size: 22px;
}

.footerItem a {
    color: rgb(201, 201, 201);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: .3s ease;
    width: fit-content;
}

.footerItem a:hover {
    color: white;
    transform: translateX(5%);
}

.footerItem p {
    margin-top: 15px;
    font-size: 16px;
}

.footerItem img {
    max-width: 75%;
    height: auto;
}

.footer span a {
    color: white;
    position: absolute;
    bottom: 0;
    right: 5px;
    text-decoration: none;
    opacity: 0.5;
    font-size: 14px;
}

.footerItem.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerItem.links h2 {
    margin-bottom: 10px;
}

.footerItem.links p {
    font-size: 16px;
}

@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .footerItem {
        margin-top: 20px;
    }

    .footer span a {
        position: relative;
        bottom: auto;
        right: auto;
        display: block;
        text-align: center;
        margin-top: 20px;
    }
}
